<?xml version="1.0"?>
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />

  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>

  <!-- ARMada workstation -->
  <xacro:include filename="$(find uml_hri_nerve_armada_workstation)/workstation_description/workstation_model.urdf.xacro" />

  <!-- robotiq_2f_140 -->
  <xacro:include filename="$(find iiwa_description)/grippers/robotiq_2f_85/urdf/robotiq_2f_140_macro.xacro" />
  <xacro:include filename="$(find iiwa_description)/grippers/robotiq_2f_85/urdf/robotiq_2f_140_transmission_macro.xacro" />
  
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa7"/>
  <xacro:arg name="origin_xyz" default="0 0 0"/>
  <xacro:arg name="origin_rpy" default="0 0 0"/>
  
  <!-- Fix to world just for testing -->
  <link name="world" />
  
  <joint name="connect_world_and_table" type="fixed">
    <child link="table_base_link" />
    <parent link="world" />
    <origin xyz="0.0 0.0 0.41" rpy="0.0 0.0 0.0" />    
  </joint>

  <joint name="connect_table_and_arm" type="fixed">
    <parent link="table_mounting_plate_link" />
    <child link = "$(arg robot_name)_link_0" />
    <origin xyz="0.0 0.0 0.03625" rpy="0.0 0.0 ${pi/2}" />  
  </joint>
  
  <!--iiwa-->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
  </xacro:iiwa7>

  <!-- gripper -->
  <xacro:load_gripper parent="$(arg robot_name)_link_ee"  prefix=""/>
  <xacro:load_gazebo_gripper_transmissions prefix=""/>

  <!-- workstation -->
  <xacro:workstation prefix="table_" namespace=""/>
  
</robot>
